.vscode
# macOS
.DS_Store

# Xcode / iOS
client_ios_app/**/*.xcuserstate
client_ios_app/**/xcuserdata/
client_ios_app/**/DerivedData/

UserInterfaceState.xcuserstate
client_ios_app/KartTimingApp/KartTimingApp.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate

# cache python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv python
.venv/
venv/
env/